:root{
    --color1: #fffede;
    --color2: #fff;
    --color3: #343434;
} 

.container{
    background: var(--color2)
}

h1{
    font-size: 5rem;
    animation: h1  ease 3.5s;
}

p{
color: green;
}

@keyframes h1 {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    50%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(300px);
    }

} 